@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #dcfaf7;
  --color-text: #1a202c;
  --color-destaque: #000000; /* Preto no tema claro */
}

.dark {
  --color-background: #0a1124;
  --color-text: #ffffff;
  --color-destaque: #ffffff; /* Branco no tema escuro para dar contraste */
}